@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&family=Teko:wght@400;700&display=swap");

$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

$mainFont: "teko", sans-serif;

$main-bg: #d8e3e7;
$main: #d8e3e7;
$header: #132c33;
$accent: #51c4d3;
$secondary-bg: #9ba4b5;

$transition-main: all 250ms cubic-bezier(0.2, 0.5, 0.3, 0.8);
